<div class="item-show">
  <div class="seller-header">
    <div class="seller-header-name">
      <%= @seller.nickname %>
    </div>
    <div class="seller-header-text">
      出品サービス一覧
    </div>
  </div>

  <div class="seller-item-box">
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='seller-list'>
          <%= link_to item_path(item) do %>
          <div class="seller-item">
            <div class="seller-item-left">
              <div class="seller-item-overview">
                <%= item.overview %>
              </div>
              <div class="seller-item-info">
                <%= item.info %>
              </div>
              <div class="seller-item-bottom">
                <div class=seller-item-category>
                  <%= item.category.name %>
                </div>
                <div class="seller-item-price">
                  <div class="seller-item-bottom-price">
                  ¥<%= item.price %>
                  </div>
                  <div class="seller-item-deliveryfee"></div>
                  <%= item.delivery_fee.name %>
                </div>
              </div>
            </div>
            <div class='seller-item-image'>
              <%= image_tag item.image, class: "seller-item-img" %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>


