<% breadcrumb :seller_mypage %>

<%= render partial: "items/header" %>

<div class="item-show">
  <div class="seller-header">
      <h1><%= @seller.nickname %>さんのプロフィール</h1>
      <% if @seller == current_seller %>
      <p><%= link_to "#{@seller.nickname}さんのプロフィール修正", edit_seller_registration_path(@seller), class:"seller-header-edit" %></p>
      <% end %>
    <div class="seller-header-content">
      <div class="seller-header-name">
        <h2><%= @seller.nickname %></h2>
      </div>
      <div class="seller-header-right">
        <h3><%= @seller.info %></h3>
        <p><%= @seller.schedule %></p>
      </div>
    </div>
    <div class="seller-header-text">
      出品サービス一覧
    </div>
    <% if @seller == current_seller %>
      <%= link_to "購入された商品の一覧へ", history_seller_path(@seller), class:"history-link" %>
    <%end%>
    
  </div>

  <div class="seller-item-box">
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='seller-list'>
          <%= link_to item_path(item), class:"seller-link" do %>
          <div class="seller-item">
            <div class="seller-item-left">
              <div class="seller-item-overview">
                <%= item.overview %>
              </div>
              <div class="seller-item-info">
                <%= item.info %>
              </div>
              <div class="seller-item-bottom">
                <div class=seller-item-category>
                  <%= item.category.name %>
                </div>
                <div class="seller-item-price">
                  <div class="seller-item-bottom-price">
                  ¥<%= item.price %>
                  </div>
                  <div class="seller-item-deliveryfee"></div>
                  <%= item.delivery_fee.name %>
                </div>
              </div>
            </div>
            <div class='seller-item-image'>
              <%= image_tag item.image, class: "seller-item-img" %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
      <div class="item-info-wrapper">
        <div class="fotter-link">
          <%= link_to "TOPページへ戻る", root_path, class: "footer-link-content" %>
        </div>
      </div>


</div>


