<% breadcrumb :root %>
<%= render partial: "header" %>
<%# ページTOP %>
<div class='nav'>
  <div class='sub-lists'>
    <div class='lists-left'>
    検索機能（未実装）
    </div>
      <%= link_to new_item_path, class:"purchase-btn-text" do %>
        <div class='purchase-btn'>
          <p>出品する</p>
        </div>
      <%end%>
  </div>
</div>
<div class="introduction">
  <h1 class="intro-text">MyPretaではあなただけの服が手に入ります</h1>
</div>
<div class="slide-wrapper">
  <div class="slide-content">
  人気商品のスライド
  </div>
</div>

  <div class="category-intro">
    <h2>カテゴリーリスト</h2>
  </div>
<div class="main-menu-lists">
  <div class="main-menu">
    <%= link_to category_path(@category1) do %>
    <div class="lesson-icon">
      <%= image_tag "category1-icon.png", class: "lesson-icon-list" %>
      <p>オーダーメイド</p>
    </div>
    <%end%>
    <p class="txt-contents">自分だけのデザインの服をオーダーできます。<br>世界にひとつだけの個性あふれるデザインを実現することが可能です。</p>
  </div>
  <div class="main-menu">
  <%= link_to category_path(@category2) do %>
    <div class="lesson-icon">
      <%= image_tag "category2-icon.png", class: "lesson-icon-list" %>
      <p>コスプレ</p>
    </div>
  <%end%>
    <p class="txt-contents">自分のサイズにぴったりのコスプレ衣装が手に入ります。<br>細かい箇所までオーダー可能で、自分だけの可愛いが実現できます。</p>
  </div>
  <div class="main-menu">
    <%= link_to category_path(@category3) do %>
    <div class="lesson-icon">
      <%= image_tag "category3-icon.png", class: "lesson-icon-list"%>
      <p>ペット服</p>
    </div>
    <%end%>
    <p class="txt-contents">大切な家族に最高に可愛い洋服をプレゼントできます。<br>帽子・フード付きなど自由自在。</p>
  </div>
  <div class="main-menu">
      <%= link_to category_path(@category4) do %>
    <div class="lesson-icon">
      <%=image_tag "category4-icon.png", class: "lesson-icon-list" %>
      <p>小物</p>
    </div>
    <%end%>
    <p class="txt-contents">普段身に着けるアイテムにこだわりを。<br>周りと差をつけられる素敵なアイテムがオーダー可能です。</p>
  </div>
</div>

