<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.overview %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @p %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>

    <% if seller_signed_in? && (@item.seller_id == current_seller.id) %>
      <%= link_to '商品の編集', edit_item_path(@item), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item) , method: :delete, class:'item-destroy' %>
    <% elsif  %>
      <%= link_to '購入画面に進む', "#" ,class:"item-red-btn"%>
    <% end %>


      <div class="item-info-wrapper">
        <div class="item-info-content">
          <%= @item.info %>
        </div>
        <div class="fotter-link">
        <%= link_to "TOPページへ戻る", root_path, class: "footer-link-content" %>
        </div>
        <div class="fotter-link">
        <%= link_to "出品者のページ", seller_path(@seller), class: "footer-link-content" %>
        </div>
      </div>
    </div>
  </div>
</div>


