<div class='item-contents'>
  <h2 class='category-title'><%= @category.name %></h2>
  
  <ul class='item-lists'>
    <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class="item-overview">
          <%= item.overview %>
        </div>
        <div class='item-info'>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "トップページに戻る", root_path, class:"item-link" %>
</div>
<%# //商品一覧 %>
